@font-face {
    font-family: Monument Extended;
    src: url('fonts/MonumentExtended-Regular.otf');
}

* {
    font-family: Monument Extended;


}

body {
    background-color: #f5f5f5;
    
    /* Set a light greyish white background color */

}

li {
    font-size: 50%;
    list-style: none;
}

ul {
    padding: 0;
    display: flex;
    gap: 4%;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}


.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    padding-top: 2%;
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

button {
    padding: 4px;
    border: none;
    background-color: white;
    border-radius: 2px;
}

button:hover {
    border: 0.5px solid black;
    color: white;
    background-color: black;
    cursor: pointer;
    animation: fill 1s;
}

.intro p {
    font-size: 4;
}

@keyframes fill {
    0% {
        background-color: white;
    }

    100% {
        background-color: black;
    }
}

.avatar {
    padding-bottom: 2%;
}

.avatar img {

    width: 80px;
    /* Adjust the size of the image as needed */
    height: 80px;
    /* Adjust the size of the image as needed */
    border-radius: 50%;
    /* Apply circular clipping */
    object-fit: cover;
    /* Ensure the entire image is visible within the circle */
    object-position: center;
    /* Center the image within the circle */
}

#about {
    padding-top: 12;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns of equal width */
    gap: 20px;
    /* Space between columns */
    padding: 20px;
}

.column {
    background-color: #f0f0f0;
    /* Light grey background for visualization */
    padding: 20px;
}

.column ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.column ul li {
    padding-top: 4px;
}

.column ul li button {
    margin-top: 8px;
    font-size: 8px;
}

.project{
    padding-bottom: 20px;
}

#contact{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.socials img{
    width: 40px;
    height: 40px;
}


@media (max-width: 480px) {
    ul {
        flex-direction: column;
        gap: 10px;
    }

    .intro p {
        font-size: 2em;
        text-align: center;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }

    .column {
        padding: 10px;
    }

    .socials {
        flex-direction: column;
        gap: 10px;
    }

    .socials img {
        width: 30px;
        height: 30px;
    }
}